%h1=large_icon('Contact') + ' ' + "Account Management"
.box
  %span.hmenu
    = icon "Plus", new_admin_account_path
    = link_to "Make a new account", new_admin_account_path
%div
  %strong= pluralize(@accounts.size, "Account")
%table#accounts-table.full_width{:cellspacing => "0"}
  %thead
    %tr
      %th{:style => "width: 10px; "}
      %th{:style => "width: 300px;"} Name
      %th Domains
      %th{:style => "width: 130px;"} Launched On
      %th{:style => "width: 50px"}= #Today
      %th{:style => "width: 50px"}= #Month
      %th{:style => "width: 20px"}
  - @accounts.each_with_index do |account, i|
    %tr{:class => cycle('odd','even'), :id => "#{dom_id(account)}"}
      %td
        .note{:style => "padding: 5px 0 0"}= i + 1
      %td
        - if !account.is_master?
          = link_to(account.title, edit_admin_account_path(account.id))
        - else
          = account.title
        .account-details-link.detail
          = link_to("Details", "javascript:void(0)", :onclick => "jQuery('#account-details-#{account.id}').toggle()")
          = link_to("Stats", admin_account_stats_path(account.id))
        %ul.account-details.detail{:id => "account-details-#{account.id}"}
          - if @cms_config['modules']['pages']
            %li= pluralize(account.pages.size, "Page") if account.pages.size > 0
          - if @cms_config['modules']['blog']
            %li= pluralize(account.articles.size, "Article") if account.articles.size > 0
          - if @cms_config['features']['testimonials']
            %li= pluralize(account.testimonials.size, "Testimonial") if account.testimonials.size > 0
          - if @cms_config['modules']['events']
            %li= pluralize(account.events.size, "Event") if account.events.size > 0
          - if @cms_config['modules']['product']
            %li= pluralize(account.products.size, "Product") if account.products.size > 0
          - if @cms_config['modules']['newsletters']
            %li= pluralize(account.newsletters.size, "Newsletter") if account.newsletters.size > 0
          - if @cms_config['modules']['links']
            %li= pluralize(account.links.size, "Link") if account.links.size > 0
          %li= pluralize(account.assets.size, "Asset") if account.assets.size > 0 
          %li= pluralize(account.inquiries.size, "Inquiry") if account.inquiries.size > 0 
      %td
        .detail
          - if account.domain
            - linked_domains = []
            - domains = account.domain.gsub(" ", "").split(",")
            - for domain in domains
              - linked_domains << link_to(domain, "http://#{domain}", :target => "_blank")
            = linked_domains.join(", ")
      %td
        .detail
          = account.created_at.strftime("%b %d, %Y")
          %br
          = account.created_at.strftime("%I:%M %p")
      %td
        .detail
          = #{Stat.all(:conditions => ["account_id = ? and created_at > ? and remote_ip not in (#{@blocked_ips})", account.id, Time.now.beginning_of_day]).size} Views
          %br
          = #{Stat.all(:conditions => ["account_id = ? and created_at > ? and remote_ip not in (#{@blocked_ips})", account.id, Time.now.beginning_of_day]).map(&:remote_ip).uniq.size} Unique
      %td
        .detail
          = #{Stat.all(:conditions => ["account_id = ? and created_at > ? and remote_ip not in (#{@blocked_ips})", account.id, Time.now.beginning_of_month]).size} Views
          %br
          = #{Stat.all(:conditions => ["account_id = ? and created_at > ? and remote_ip not in (#{@blocked_ips})", account.id, Time.now.beginning_of_month]).map(&:remote_ip).uniq.size} Unique
      %td
        - if !account.is_master?
          = icon "Write", edit_admin_account_path(account.id)

- content_for :head do
  %style{:type => "text/css"}
    ==.account-details-link { margin: 4px 0 0 5px; }
    ==.account-details-link a { text-decoration: none; }
    ==.account-details { display: none; }
    ==ul.detail { list-style: none; margin: 5px 0 0 10px; padding: 0; width: 100px; }
    ==ul.detail li { margin-bottom: 4px; }
      