- if params[:account_id]
  %h1== #{@account.title} Statistics
- else
  %h1 Statistics
- if params[:remote_ip]
  %h2== #{params[:remote_ip]} History
- else
  %table.full_width
    %tr
      %th Today
      %th Yesterday
      %th Month
      %th All Time
    %tr
      %td== #{@today.size} views, #{@today_unique} unique
      %td== #{@yesterday} views, #{@yesterday_unique} unique
      %td== #{@month} views, #{@month_unique} unique
      %td== #{@total} views, #{@total_unique} unique

%br
= will_paginate @stats

%table.full_width
  %tr
    - unless params[:remote_ip]
      %th{:style => "width: 70px"} Remote IP
    %th{:style => "width: 350px;"} URL
    %th{:style => "width: 250px; overflow: hidden;"} Referer
    %th{:style => "width: 50px;"} Timestamp
  - for stat in @stats
    %tr.detail{:class => cycle("odd", "even")}
      - unless params[:remote_ip]
        %td
          - if @account
            = link_to(stat.remote_ip, admin_account_stats_path(@account.id, :remote_ip => stat.remote_ip))
          - else
            = link_to(stat.remote_ip, admin_stats_path(:remote_ip => stat.remote_ip))
      %td{:style => "width: 350px;"}= link_to(stat.url, stat.url, :target => "_blank")
      %td
        %div{:style => "width: 250px; overflow: hidden; display: block;"}= stat.referer.blank? ? "" : link_to(stat.referer, stat.referer, :target => "_blank")
      %td= stat.created_at.strftime("%b %d, %Y <br /> %I:%M %p")
= will_paginate @stats